{% extends 'base.html.twig' %}

{% block content %}

    <strong>{{ actor.name}} apparait dans les séries suivantes:</strong>
    <ul>
        {% for program in actor.program %}
            <li><a href="{{ path('program_show', {'id': program.id}) }}">{{ program.title }} </a></li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

{% endblock %}

